/* style.css */

body { background: #f1f5f8 !important;}

.container{
    max-width: 767px;
    padding-top: 70px;
}

.headline{
    padding-top: 20px;
}

.card{
    max-width: 767px;
}


.card-img{
    width: 100% !important;
    height: 136px!important;
    object-fit: cover;
}

.card{
    max-width: 767px;
}

.card-link {
    color: black;
}
.card-link:hover {
    color: black;
    text-decoration: underline;
}




@media (min-width: 767px) {
    .navbar {
        height:50px;
    }
}


@media screen and (max-width: 767px) {
    .navbar-nav {
        float: center !important;
        text-align: left !important
    }
}

.nav {
  text-align: center;
}

.navbar-nav .nav-item {
  float: inherit;
  display: inline-block;
}


.strike {
    text-decoration:line-through;
}


/* import after the changes */
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

MAIN {
    padding: { top: 30px; bottom: 30px; }
    margin-top: 56px;
    height: 3000px;
}

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -156px;
}
